{% extends 'base.html.twig' %}

{% block menu %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h4>Tu contraseña es: {{ password }}</h4>
            <a class="btn btn-primary" href="{{ path('login') }}">Iniciar Sesion</a>
        </div>
    </div>

{% endblock %}